@import "./config/_index.scss";
@import "./antd/index";

@mixin flex {
  font-size: 22px;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.ant-notification {
  z-index: 10000000 !important;
}